#button, button {
    -webkit-appearance:none;
    width:80px;
    height:30px;
    border:2px solid white;
    background:grey;
    color:white;
    border-radius:10px;
    font-weight:bold;
}
input[type="text"], input[type="password"]  {
    height:30px;
    font-weight:bold;
    border:1px solid black;
    -webkit-appearance:none;
    color:black;
    width:200px;
    font-size:20px
}