

#frame {
    overflow-x:scroll !important;
}

#custom::-webkit-file-upload-button {
    content: 'Select a Photo';
    border-radius:5px;
    -webkit-appearance:none;
    background:white;
    color:navy;
    border:1px solid navy;
    padding:5px 5px 5px 5px;
    text-decoration: none;
    font-size:12px;
    width:80px !important;
    overflow:hidden;
}
#custom {
    width:80px !important;
    overflow:hidden;
}
div.bottom{
    position: absolute;
}
#background {
    position:fixed;
    z-index:-100;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
span.hidden {
    display:none;
}
input.hidden {
    display:none;
}
button.hidden {
    display:none;
}
div.hidden {
    
    display:none;
}
/* Disable certain interactions on touch devices */
textarea {
    background-color: rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.2);
    border:1px solid white;
    border-radius:0px;
    -webkit-tap-highlight-color: rgba(0, 255, 0, 0.4);
    -webkit-focus-ring-color: rgba(0, 255, 0, 0.4);
    font-weight:bold;
    color:white;
    
}
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0,255,0,0.4);
    /* background-size: cover;
    background-position: fixed;*/
    /* iscroll */
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
  /*  -webkit-appearance:none;
     iscroll */
  /*  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

table {
    border:0px;
    padding:5px 5px 5px 5px;
}
#line {
    width:90%;
    height:2px;
    background:white;
    color:black;
    border:0px;
    
}
#fullline {
    width:100%;
    height:2px;
    background:white;
    color:black;
    border:0px;
    
}

input[type='image']
{
    background:white;
    border-radius:5px;
    font-weight:bold;
    border:1px solid navy;
    color:navy;
    opacity:1.0;
    transition:all 320ms;
    -webkit-appearance:none;
}
input[type='image']:hover
{
    background:white;
    border-radius:5px;
    font-weight:bold;
    border:1px solid navy;
    color:navy;
    opacity:1.4;
    transition:all 320ms;
    -webkit-appearance:none;
    
}
input[type='image']:active
{
    background:white;
    border-radius:5px;
    font-weight:bold;
    border:1px solid navy;
    color:navy;
    opacity:1.4;
    transition:all 320ms;
    -webkit-appearance:none;
    
}
/* begin img style */


img
{
    background:white;
    /*
     border-radius:5px;
     border:1px solid navy;
     
     */
    font-weight:bold;
    color:navy;
    opacity:1.0;
    transition:all 320ms;
    -webkit-appearance:none;
}

#button, button {
    /*width:100px;
     height:24px;*/
    border-radius:5px;
    -webkit-appearance:none;
    background:white;
    /* font-weight:;*/
    color:navy;
    border:1px solid navy;
    padding:5px 5px 5px 5px;
    text-decoration: none;
    font-size:12px;
}
#button:hover, #button:active, button:active, button:hover {
-webkit-appearance:none;
border:1px solid white;
color:white;
background:navy;
transition:background 320ms;
}
select {
    border: 0 !important;  /*Removes border*/
    -webkit-appearance: none !important;  /*Removes default chrome and safari style*/
    -moz-appearance: none !important; /* Removes Default Firefox style*/
    background: #0088cc center;
    width: 150px; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
    font-weight:bold;
}
select.balck {
    background-color: #000;
    font-weight:bold;
}
select.option3 {
    border-radius: 10px 0;
    font-weight:bold;
}
#bannerr {
    position:fixed;
    right:0px;
    top:0px;
    z-index:200;
    opacity:1.0;
    background-color:black;
    font-size:100%;
    color:white;
    width:100%;
    height:8%;
}
p.title {
    color:white;
    font-size:175%;
    color:white;
    text-align:center;
}

#item {
    border:2px solid white;
    border-radius:5px;
    width:90%;
    background: rgba(0,0,0,0.3);
}
#topic {
    font-size:26px;
    color:white;
    
}

#newstext {
    font-size:20px;
    color:white;
}
#date {
    color:white;
    font-size:14px;
}
hr {
    border:0px;
    width:90%;
    background:white;
    color:white;
    height:2px;
}
#login {
    width:90%;
    padding:10 10 10 10;
    border:2px solid white;
    border-radius:10px;
    
}
iframe {
    background:rgba(0,0,0,0.4);
    overflow-x:scroll !important;
}
span.hidden {
    display:none;
}

input[type='range'] {
    -webkit-appearance: none !important;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none !important;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}


html {
    -ms-touch-action: none;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1000;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    /*-webkit-touch-callout: none; */
    -webkit-user-select: none;
/*    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none; */
    color:white;
}

/* botbar */
#footer {
    position: absolute;
    z-index: 1005;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #000000;
    padding: 0;
    border-top: 1px solid silver;

}
